@font-face {
    font-family: 'Magnolia Script';
    src: url('../dist/fonts/Magnolia\ Script.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rammetto+One&family=Sriracha&display=swap');

$plainfont: "Sriracha",
    cursive;
$fancyfont: 'Magnolia Script';

$richblack: #222020;
$lightgrey: #D3D2CE;
$beige: #ebe5d7;
$olive: #8B814A;
$rosetaupe: #86615C;

// Resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $richblack;
}

:root {
    --background-color: #ebe5d7;
    --font-family: 'Sriracha', sans-serif;
}

html,
body,
#root {
    height: 100%;
    background-color: #ebe5d7;
    font-family: $fancyfont, $plainfont;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: $richblack;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

// Custom Styles

// Header

.logo {
    height: 30vh;
    width: auto;
}

.header {
    background-color: #ebe5d7;

    .nav-links {
        font-size: 3vh;

        .nav-link {
            &:hover {
                text-decoration: underline;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }
}

// Homepage

.about {
    font-family: $plainfont;
    font-size: 3vh;
}

.section {
    display: flex;
    align-items: stretch;
    gap: 1rem;

    .image-container {
        flex: 1;
        display: flex;

        .image {
            height: 100%;
            width: auto;
            object-fit: cover;
            justify-content: end;
        }
    }

    .about-container {
        flex: 2;
    }
}



// SoupItem Cards



// Gallery


.soup-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    max-width: 85%;
    font-family: $plainfont;
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;

    img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }

    .card {
        max-width: 400px;
        margin: 0 auto;
    }
}

.card-title {
    text-align: center;
    font-size: 20px;
}

// Order Page

.alert-message {
    font-family: $plainfont;
    font-size: 3vh;
    margin: 5% 15%;

    .alert-title {
        font-size: 4vh;
        margin-top: 5%;
    }
}

form {
    margin: 15px auto 0;
    width: 60%;
    align-items: center;
    font-family: $plainfont;

    .form-input {
        margin: 10px 0;
        padding: 10px 20px;
        width: 100%;
    }

    .note {
        font-size: 2.2vh;
        margin-left: 10px;
    }

    .soup-options {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .dropdown {
        margin-right: 10px;
    }

    button {
        margin: 10px 0;
        padding: 10px;
        width: 50%;
    }
}

// Footer
.footer {
    width: 100%;
    background-color: $beige;
    font-family: $plainfont;
    padding: 1em 0;
    margin-top: auto;
}

.footer .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;

    .social-links {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    p,
    a {
        margin: 0;
        padding: 0;
    }
}

// Media Queries

@media (min-width: 800px) {
    .nav-links {
        gap: 2rem;
    }

    .soup-gallery {
        gap: 5%;
        justify-content: center;
    }
}

@media (max-width: 799px) {

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;

        .image-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .image {
                width: 100%;
                max-width: 400px;
                object-fit: cover;
            }
        }

        .about-container {
            flex: 1;
            text-align: center;
        }
    }

    .soup-gallery {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .soup-item {
        max-width: 90%;
        margin: 0 auto;
    }

    img {
        object-fit: contain;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #ebe5d7;
        --text-color: #222020;
    }

    .welcome {
        color: #222020;
    }

    .card {
        background-color: whitesmoke;

        .card-title {
            color: $richblack;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ebe5d7;
        --text-color: #222020;
    }
}