@font-face {
    font-family: 'Magnolia Script';
    src: url('../dist/fonts/Magnolia\ Script.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rammetto+One&family=Sriracha&display=swap');

$plainfont: "Sriracha",
    cursive;

// Resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(33, 31, 31);
}

html,
body,
#root {
    height: 100%;
    background-color: rgb(250, 243, 238);
    font-family: 'Magnolia Script', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(23, 21, 21);
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

// Custom Styles

// Global Classess

// Header

.logo {
    height: 35vh;
    width: auto;
}

.header {
    background-color: #ebe5d7;

    .nav-links {
        font-size: 3vh;

        .nav-link {
            &:hover {
                text-decoration: underline;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }
}

// Homepage

.about {
    font-family: $plainfont;
    font-size: 3vh;
}

// SoupItem Cards

// Gallery
.soup-gallery {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    font-family: $plainfont;

    img {
        height: 100%;
        aspect-ratio: 1/1;
    }
}

// Order Page

form {
    margin: 15px auto 0;
    width: 60%;
    align-items: center;
    font-family: $plainfont;

    .form-input {
        margin: 10px 0;
        padding: 10px 20px;
        width: 100%;
    }

    .soup-options {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .checkbox {
            margin-right: 8px;
        }
    }

    button {
        margin: 10px 0;
        padding: 10px;
        width: 50%;
    }
}